# The number of milliseconds of each tick
# 心跳停止的最长时间2s
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
# 初始通信时限，集群中的Fo1lower跟随者服务器与Leader领导者服务器之间初始连接时能容忍的最多心跳数（tickTime的数量），
# 用它来限定集群中的Zookeeper服务器连接到Leader的时限。
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
# 同步通信时限,集群中Leader与Fo1lower之间的最大响应时间单位，假如响应超过syncLimit*tickTime，Leader认为Fo11wer死掉，从服务器列表中删除Fo1lwer。
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
;dataDir=/tmp/zookeeper
dataDir=/data
# the port at which the clients will connect
clientPort=2181

server.1=zk1.docker:2888:3888;2181
server.2=zk2.docker:2888:3888;2181
server.3=zk3.docker:2888:3888;2181

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpHost=0.0.0.0
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true
